<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GetQQ.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GetQQ.Properties.Settings>
            <setting name="dbconn" serializeAs="String">
                <value>Database=qqdb;Data Source=127.0.0.1;User Id=root;Password=111111;pooling=false;CharSet=utf8;port=3306</value>
            </setting>
        </GetQQ.Properties.Settings>
    </userSettings>
</configuration>